---
- name: "Neovim"
  ansible.builtin.apt:
    name: neovim

- name: "AstroNvim dep: treesitter-cli"
  community.general.npm:
    name: tree-sitter-cli
    global: true

- name: "AstroNvim dep: ripgrep"
  ansible.builtin.apt:
    name: ripgrep

- name: "AstroNvim dep: go DiskUsage"
  ansible.builtin.apt:
    name: gdu

- name: "Installing AstroNvim for neovim"
  ansible.builtin.shell: |
    git clone --depth 1 https://github.com/AstroNvim/template "{{ home_dir }}/.config/nvim"
  args:
    creates: "{{ home_dir }}/.config/nvim"

- name: Copy community.lua
  ansible.builtin.copy:
    src: community.lua
    dest: "{{ home_dir }}/.config/nvim/lua/community.lua"
    mode: '0755'

- name: Add nvim alias
  ansible.builtin.lineinfile:
    path: "{{ home_dir }}/.bashrc"
    search_string: "# alias vi='/usr/bin/nvim'"
    line: "alias vi='/usr/bin/nvim'"
